/* body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.btn-login {
  background-color: grey;
  color: orange;
  border: none;
}

.btn-signin {
  background-color: grey;
  color: orange;
  border: none;
}

.btn-login:hover, .btn-signin:hover {
  background-color: darkorange;
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-form-container {
  margin-top: 20px;
}

.transparent-black {
  background-color: rgba(0, 0, 0, 0.7);
  color: orange;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.transparent-black .form-control {
  background-color: rgba(0, 0, 0, 0.5);
  color: orange;
  border: 1px solid #ced4da;
}

.transparent-black .btn-primary {
  background-color: rgb(58, 54, 45);
  border: none;
  color: black;
}

.transparent-black .btn-primary:hover {
  background-color: darkorange;
}

.transparent-black a {
  color: rgb(100, 98, 92);
}

.transparent-black a:hover {
  color: darkorange;
}

.lk {
  margin-top: 2%;
  text-align: center;
  color: blue;
}

/* Additional global styles 
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
} 
*/