/* App.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust height according to header height */
}

.booking-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.column {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.column1{
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}
.column:last-child {
    margin-right: 0;
}

label {
    margin-bottom: 5px;
    font-size: 16px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
